<nav>
  <div class="flex justify-center">
    <div class="w-fw
                    mobile:px-10 desktop:px-0 px-4 pt-10 pb-6
                    flex flex-col
                    sm:flex-row">
      <a href="/">
        <img class="mb-4 w-24 mw-24 sm:w-20 sm:mr-16" alt="Logo" src="{{ "src/site/images/logo.png" | dataurl("image/png") }}">
      </a>
      <div class="flex flex-wrap">
        <a href="/">
          <p class="text-left m-0 text-smaller mr-4 sm:mr-8 font-semibold">Home</p>
        </a>
        {% for category in categories %}
          <a href={{ category | slug }}>
            <p class="text-left m-0 text-smaller mr-4 sm:mr-8 font-semibold">{{ category | titlify }}</p>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>