<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="KulfiJamEcomm - {{ title }}" />
<meta name="twitter:creator" content="@vikerman" />
<meta property="og:url" content="https://kulfi-jam-ecomm.netlify.app/" />
<meta property="og:title" content="KulfiJamEcomm - {{ title }}" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A port of https://github.com/jamstack-cms/jamstack-ecommerce to Eleventy, TailwindCSS and some other secret stuff deployed to Netlify{%- endif -%}" />
<meta property="og:image" content='https://kulfi-jam-ecomm.netlify.app/images/og-card.jpg' />
