<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <link rel="icon" href="/images/icon.png">
    {% include "social.njk" %}
  </head>
  <body>
    <div class="min-h-screen">
      {% include "header.njk" %}
      <div class="mobile:px-10 px-4 pb-10 flex justify-center">
        <main class="w-fw">{{ content | safe }}</main>
      </div>
    </div>
    <footer class="flex justify-center">
      <div class="flex w-fw px-8 desktop:px-0 border-solid border-t border-gray-300 items-center">
        <span class="block text-gray-700 pt-4 pb-8 mt-2 text-xs">Copyright © 2020 JAMstack Ecommerce. All rights reserved.</span>
        <div class="flex flex-1 justify-end">
          <a href="/admin">
            <p class="pt-4 text-xs">Admins</p>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>