<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    {% include "social.njk" %}
  </head>
  <body>
    <div class="min-h-screen">
      {% include "header.njk" %}
      <div class="mobile:px-10 px-4 pb-10 flex justify-center">
        <main className="w-fw">{{ content | safe }}</main>
      </div>
    </div>
  </body>
</html>