---
title: Home
layout: default
---
<div class="w-full">
  <div class="bg-green-200
        lg:h-hero
        p-6 pb-10 smpb-6
        flex lg:flex-row flex-col">
    <div class="pt-4 pl-2 sm:pt-12 sm:pl-12 flex flex-col">
      <div class="border-l border-gray-900 px-3 mb-10">
        <p class="text-xxs font-semibold tracking-tight m-0 leading-tight">SOFAS</p>
        <p class="text-xxs font-semibold tracking-tight m-0 leading-tight">2020</p>
      </div>
      <div>
        <p class="text-4xl xl:text-5xl font-bold tracking-widest leading-none">Mod Leather Sofa</p>
        <p>FROM <span>$200</span></p>
        {% from "components/button.njk" import actionButton %}
        <form method="get" action="/products/{{ 'Mod Leather Sofa' | slug }}">
          {{ actionButton("Shop Now", true) }}
        </form>
      </div>
      <div class="flex flex-1 flex-col justify-end pb-10 mt-4 lg:mt-0">
        <p class="font-light text-gray-600 text-xxs font-semibold tracking-tight m-0 leading-tight mb-2">Design by</p>
        <p class="text-xxs font-semibold tracking-tight m-0 leading-tight">Jason Bourne</p>
      </div>
    </div>
    <div class="flex flex-1 justify-center items-center relative">
      <div class="z-10">
        <img src="/images/products/couch6.png" class="w-136" alt="Showcase item" ></img>
      </div>
      <div class="absolute
              w-48 h-48 sm:w-72 sm:h-72 xl:w-88 xl:h-88
              bg-white z-0 rounded-full"></div>
    </div>
  </div>
</div>
{% from "components/display.njk" import medium,
small %}
<div class="my-4 lg:my-8 flex flex-col lg:flex-row justify-between">
  {{ medium("/images/products/couch1.png", "4 items", "new arrivals") }}
  {{ medium("/images/products/couch5.png", "10 items", "sofas") }}
</div>
<div class="pt-10 pb-6 flex flex-col items-center">
  <h2 class="text-4xl mb-3">Trending Now</h2>
  <p class="text-gray-600 text-sm">Find the perfect piece or accessory to finish off your favorite room in the house.</p>
</div>
<div class="my-8 flex flex-col lg:flex-row justify-between">
  {{ small("/images/products/couch1.png", "new arrivals", "Timber Gray Sofa") }}
  {{ small("/images/products/couch5.png", "sofas", "Carmel Brown Sofa") }}
  {{ small("/images/products/couch6.png", "new arrivals", "Mod Leather Sofa") }}
  {{ small("/images/products/couch7.png", "new arrivals", "Thetis Gray Love Seat") }}
</div>